# Generado manualmente (sin roxygen2 en este entorno)

export(run_lutz_app)
export(showLutz)
export(lutz_params)
export(huancane_params)
export(coef_pe_usbr)
export(pe_curva)
export(pe_usbr)
export(coef_descarga)
export(retencion)
export(mm_a_m3s)
export(ano_promedio)
export(precip_media_mensual)
export(meses_abrev)
export(as_matriz_mensual)
export(leer_serie_csv)
export(leer_serie_excel)
export(calibrar_regresion)
export(pe_serie)
export(generar_serie)
export(nash_sutcliffe)
export(r2)
export(rmse)
export(pbias)
export(bondad_ajuste)

S3method(print, lutz_params)
S3method(print, lutz_calibracion)

importFrom(stats, lm, coef, rnorm, cor, complete.cases)
importFrom(utils, read.csv)
